//////////////////////////////////////////////////////
# define DefineResource(identifier,type,path) identifier type #path
# define Resource(path) DefineResource(path, FILE, path)
DefineResource(100, ICON, icon.ico)
Resource(engine/shader/sprite.vs)
Resource(engine/shader/shape.ps)
Resource(engine/shader/line_dot.ps)
Resource(engine/shader/line_round_dot.ps)
Resource(engine/shader/sprite.ps)
Resource(engine/shader/sprite_sdf.ps)